body
  background-color: $bg-color
  margin: 36px
  margin-top: 30px
  color: $text-white
  font-family: $font-family
  font-size: 16px

body.nohighlight
  ::selection
    background: none

#content
  padding-top: 68px
  display: flex
  height: 100%
  box-sizing: border-box
  position: relative

.circle, .avatar
  width: $circle-size
  height: $circle-size
  border-radius: $circle-size
  &::selection
    background: none

.avatar
  background-size: cover

ul
  list-style: none
  margin: 0
  padding: 0
.playlist-dropdown
  position: absolute
  width: 300px
  left: -100px
  top: 50px
  background-color: $panel-gray
  z-index: 1000
  font-family: $font-family
.grab
  padding-top: 9px
  position: relative
  ul
    display: none
    li.added
    li
.grab:active, .grab.active
  background-color: $blue
  padding-top: 11px
  ul
    display: block

li.song
  position: relative
  padding: 18px 22px
  border-left: 4px solid $green
  border-top: 1px solid #16181c
  .artist
    font-weight: 300
    color: $text-gray
  .preview
    font-size: 12px
    float: left
    color: $blue
    cursor: pointer
    text-decoration: none
  .bottom
    height: 17px
  .dj-container
    font-size: 12px
    float: left
    color: $text-gray
    .dj
      color: $yellow
    &:before
      margin-left: 8px
      margin-right: 7px
      content: "//"
      color: $text-gray
  .hover-controls
    position: absolute
    right: 32px
    top: 28px
    display: none
    .circle
      border: 2px solid $text-white
      cursor: pointer
      float: left
      margin-left: 18px
      box-sizing: border-box
      opacity: 0.75
      font-size: 15px
      padding-left: 9px
      padding-top: 9px
      font-family: "mashupfm-icons"
      content: attr(data-icon)
      font-style: normal
      font-weight: normal
      font-variant: normal
      text-transform: none
      speak: none
      line-height: 1
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale
      transition: background-color 0.1s ease-in-out, opacity 0.1s ease-in-out 0.1s
    .circle:hover
      background-color: rgba(255,255,255, 0.10)
    .circle:active
      padding-left: 11px
      padding-top: 11px
      opacity: 0.95
      border: none
      transition: none
    .active
      padding-left: 11px
      padding-top: 10px
      opacity: 1
      border: none


    .download:active, .download.active
      background-color: $yellow

li.song:hover
  opacity: 1
  transition: none
  .hover-controls
    display: block

li.song
  transition: opacity 0.1s ease-in-out
  opacity: 0.5
ul.past
  .song
    border-left: 4px solid $yellow
ul.future
  .song
    border-left: 4px solid $blue
ul.current
  li.song
    opacity: 1


.error
  color: red
  margin-bottom: 1em

