%link{:href=>'http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700', :rel=>'stylesheet', :type=>'text/css'}
%link{:href=>'styles/app_static.sass', :rel=>'stylesheet'}

:css
  @charset "UTF-8";

  @font-face {
    font-family: "mashupfm-icons";
    src:url("fonts/mashupfm-icons.eot");
    src:url("fonts/mashupfm-icons.eot?#iefix") format("embedded-opentype"),
      url("fonts/mashupfm-icons.woff") format("woff"),
      url("fonts/mashupfm-icons.ttf") format("truetype"),
      url("fonts/mashupfm-icons.svg#mashupfm-icons") format("svg");
    font-weight: normal;
    font-style: normal;

  }

:sass
  #loader, #loader2, #loader3
    display: none
  #playlists, #users, #queue
    display: none

#overlay
#header-container
  #header
    #current-dj.avatar
    #playhead
      #song
        %span.songname
          Owner of a Funky Heart
        %span.artist
          ChipStack
        #timestamp
          3:06
      #progress-container
        #progress-bar
    #controls
      #upvote.circle.upvote-icon
      #grab.grab.circle.grab-icon
        %ul.playlist-dropdown
          %li.added
            Slams
          %li.added
            Extra slammy slams
          %li
            Friday earbleeds
          %li
            Bruneaux
      #downvote.circle.downvote-icon
      #user-controls
        #username
          wallpind
        #log-controls
          log out
      #volume-container
        #volume-bar
          #volume-grabber
#content
  #loader
  #loader2
  #loader3
  #main-container.users
    #playlists
      #playlist-topbar
        #add-playlist.grab-icon
          Add New Playlist
        #playlist-name
          Friday Earbleeds
        #add-song.add-song-icon
          %input#add-song-input{:type=>'text', :placeholder=>'paste song url here'}
      #playlist-sidebar
        %ul
          - (1..5).each do |i|
            %li
              Slams
              %span
                215
            %li
              Extra Slammy slams
              %span
                45
            %li
              Actually Decent
              %span
                1
          %li.selected
            Friday Earbleeds
            %span
              49
          %li
            Men at work mashups
            %span
              17
          %li.queued
            Bruneaux
            %span
              32
          %li
            Dj Schmolli
            %span
              3
      #playlist
        %ul
          %li.song.loading
            .title
              Owner of a Funky Heart (wallpind sux remix)
            .artist
              ChipStack
            .bottom
              .preview
                preview
              .dj-container
                Queued by
                %span.dj
                  wallpind
            .hover-controls
              .loader
          - (1..10).each do |i|
            %li.song
              .title
                Owner of a Funky Heart (wallpind sux remix)
              .artist
                ChipStack
              .bottom
                .preview
                  preview
                .dj-container
                  Queued by
                  %span.dj
                    wallpind
              .hover-controls
                %a.download.circle
                  d
                .grab.circle
                  c
                  %ul.playlist-dropdown
                    %li.added
                      Slams
                    %li.added
                      Extra slammy slams
                    %li
                      Friday earbleeds
                    %li
                      Bruneaux


    #queue
      %ul.future
        %li.song
          .title
            Owner of a Funky Heart (wallpind sux remix)
          .artist
            ChipStack
          .bottom
            .preview
              preview
            .dj-container
              Queued by
              %span.dj
                wallpind
          .hover-controls
            %a.download.circle
              d
            .grab.circle
              c
              %ul.playlist-dropdown
                %li.added
                  Slams
                %li.added
                  Extra slammy slams
                %li
                  Friday earbleeds
                %li
                  Bruneaux
      %ul.current
        %li.song
          .title
            Owner of a Funky Heart (wallpind sux remix)
          .artist
            ChipStack
          .bottom
            .preview
              preview
            .dj-container
              Queued by
              %span.dj
                wallpind
          .hover-controls
            %a.download.circle
              d
            .grab.circle
              c
              %ul.playlist-dropdown
                %li.added
                  Slams
                %li.added
                  Extra slammy slams
                %li
                  Friday earbleeds
                %li
                  Bruneaux
      %ul.past
        - (1..10).each do |i|
          %li.song
            .title
              Owner of a Funky Heart (wallpind sux remix)
            .artist
              ChipStack
            .bottom
              .preview
                preview
              .dj-container
                queued by
                %span.dj
                  wallpind
            .hover-controls
              %a.download.circle
                d
              .grab.circle
                c
                %ul.playlist-dropdown
                  %li.added
                    Slams
                  %li.added
                    Extra slammy slams
                  %li
                    Friday earbleeds
                  %li
                    Bruneaux
    #users
      %table
        %thead
          %tr
            %td
            %td user
            %td score
            %td average
            %td upvote ratio
        %tbody
          - (1..3).each do |i|
            %tr
              %td
                .avatar
              %td
                .username wallpind
              %td 1,442
              %td 2.4
              %td 89%
          %tr.self
            %td
              .avatar
            %td
              .username nthitz
            %td -104
            %td negative like a billion
            %td 0.0009%
          - (1..3).each do |i|
            %tr
              %td
                .avatar
              %td
                .username wallpind
              %td 1,442
              %td 2.4
              %td 89%
          - (1..6).each do |i|
            %tr.offline
              %td
                .avatar
              %td
                .username wallpind
              %td 1,442
              %td 2.4
              %td 89%


    #tab-bar
      #tabs
        #playlist-button.tab
          g
        #queue-button.tab
          h
        #chat-button.tab
          e
        #users-button.tab
          i

      #queue-controls
        #join-queue
          f
        #queue-info
          #queue-position
            2
          #queue-total
            10
        #leave-queue


  #right-container
    #chat-container
      #chat
        #chat-messages
          %ul
            - (1..10).each do |i|
              %li.message-container
                .avatar
                .username.self
                  wallpind:
                .message
                  wow nthitz is such a chump-o-rama
                  .timestamp
                    4:20pm
              %li.message-container
                .avatar
                .username
                  nthitz:
                .message
                  sometimes, i eat a whole tub of bagels
                  .timestamp
                    4:20pm
              %li.message-container
                .avatar
                .username
                  pwnies:
                .message
                  seriously. It's pretty embarassing. I need more words to try multi-line
                  .timestamp
                    4:20pm
                .message.appended
                  he's really dropped his game as of late
                  .timestamp
                    4:22pm
      #chat-input
        .avatar
        %textarea{:placeholder=>'Shitpost here'}





:javascript
  function $(id){return document.getElementById(id)};
  var ui = {
    init: function(){
      $('queue-controls').addEventListener('click', function(){$('queue-controls').classList.toggle('active')})
      ui.activeToggle('upvote')
      ui.activeToggle('downvote')
      ui.activeToggle('grab')
      $('queue').addEventListener('click', ui.queueDropdown)
      $('chat').scrollTop = 30000

      $('tabs').addEventListener('click', ui.tabClick)
      $('join-queue').addEventListener('click', ui.joinClick)
      $('add-song').addEventListener('click', ui.addSongOpen)

    },
    tabClick: function(e){
      $('main-container').className = e.target.id.replace('-button', '')
    },
    joinClick: function(){
      jq = $('join-queue')
      jq.innerHTML = jq.innerHTML == 'j' ? 'f' : 'j'
    },
    activeToggle: function(e){
      e = typeof(e) == 'string' ? $(e) : e
      e.addEventListener('click', function(){e.classList.toggle('active')})
    },
    queueDropdown: function(e){
      if(e.target.classList.contains('grab')){
        e.target.classList.toggle('active')
      }
    },
    addSongOpen: function(e){
      $('add-song').classList.add('active')
      $('add-song-input').focus()
    }
  }
  ui.init()

