#header
  #current-dj
  #playhead
    #song
      %span.songname
      %span.artist
    #timestamp
    #progress-container
      #progress-bar
  #controls
    #upvote.active
    #downvote
    #add-to-playlist
      #add-to-playlist-dropdown
        %ul
          %li Slams
          %li nthitz's favorite slams
          %li rebecca black mashups
  #volume-container
    #volume-bar
    #volume-grabber
#content
  #left-container
  #right-container
    #chat
      #messages#chat
      



    
