%link{:href=>'http://fonts.googleapis.com/css?family=Open+Sans:300,400,700', :rel=>'stylesheet', :type=>'text/css'}
:css
  @charset "UTF-8";

  @font-face {
    font-family: "mashupfm-icons";
    src:url("mashupfm-icons.eot");
    src:url("mashupfm-icons.eot?#iefix") format("embedded-opentype"),
      url("mashupfm-icons.woff") format("woff"),
      url("mashupfm-icons.ttf") format("truetype"),
      url("mashupfm-icons.svg#mashupfm-icons") format("svg");
    font-weight: normal;
    font-style: normal;

  }

:sass
  $green: #8ab71b
  $blue: #155d80
  $red: #b71b35
  $orange: #b0330e
  $yellow: #f0b017

  $text-white: #f7f5f1
  $text-gray: #bfbfbf
  $bg-color: #161413
  $panel-gray: #202226
  $panel-shadow: #0c0e0e
  $panel-highlight: #171b1b

  $circle-size: 38px

  body
    background-color: $bg-color
    margin: 36px
    margin-top: 30px
    color: $text-white
    font-family: "Open Sans", sans-serif
    font-size: 16px

  .circle, .avatar
    width: $circle-size
    height: $circle-size
    border-radius: $circle-size
    &::selection
      background: none

  .avatar
    background-size: cover
    background-color: #fff

  #header-container
    width: 100%
    box-sizing: border-box
    padding: 36px
    padding-top: 30px
    position: absolute
    top: 0px
    left: 0px
    z-index: 10
  #header
    position: relative
    width: 100%
    padding-left: 60px
    padding-right: 344px
    box-sizing: border-box
    
    #current-dj
      position: absolute
      left: 0px
      top: 0px
    #playhead
      height: 36px
      #song
        position: relative
        font-size: 18px
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden
        line-height: 1
        margin-bottom: 10px
        letter-spacing: 0.5px
        box-sizing: border-box
        padding-right: 80px
        .songname
          font-weight: 700
        .artist
          font-weight: 300
          &:before
            margin: 0 8px
            content: "//"
      #timestamp
        font-weight: 300
        position: absolute
        right: 0
        top: 0
      #progress-container
        height: 8px
        width: 100%
        border-radius: 8px
        background-color: $panel-gray
        overflow: hidden
        #progress-bar
          background-color: $blue
          width: 36%
          height: 8px
    #controls
      position: absolute
      right: 0
      top: 0
      width: 324px
      & > .circle
        border: 2px solid $text-white
        cursor: pointer
        float: left
        margin-left: 18px
        box-sizing: border-box
        opacity: 0.75
        font-size: 15px
        padding-left: 9px
        padding-top: 8px
        font-family: "mashupfm-icons"
        content: attr(data-icon)
        font-style: normal
        font-weight: normal
        font-variant: normal
        text-transform: none 
        speak: none
        line-height: 1
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
      & > .circle:hover
        background-color: rgba(255,255,255, 0.05)
      & > .circle:active
        padding-left: 11px
        padding-top: 10px
        opacity: 0.95
        border: none
      .active
        padding-left: 11px
        padding-top: 10px
        opacity: 1
        border: none
      #upvote.active, #upvote:active
        background-color: $green
      #downvote
        padding-top: 10px
      #downvote.active, #downvote:active
        padding-top: 12px
        background-color: $red
        
      #grab.grab
        padding-top: 9px
        ul
          display: none
          li.added
          li
      #grab:active, #grab.active
        background-color: $blue
        padding-top: 11px
        ul
          display: block
      #user-controls
        float: left
        width: 120px
        font-size: 12px
        line-height: 1
        margin-left: 36px
        #username
          float: left
        #log-controls
          opacity: 0.75
          float: right
      #volume-container
        float: left
        margin-left: 36px
        width: 120px
        height: 8px
        border-radius: 8px
        background-color: $panel-gray
        cursor: pointer
        margin-top: 16px
        #volume-bar
          background-color: $blue
          border-radius: 8px
          width: 36%
          height: 8px
          position: relative
          #volume-grabber
            position: absolute
            top: -4px
            right: -4px
            height: 16px
            width: 16px
            cursor: pointer
            border-radius: 12px
            background-color: #fff
  #content
    padding-top: 68px
    display: flex
    height: 100%
    box-sizing: border-box
    position: relative

  ul
    list-style: none
    margin: 0
    padding: 0
  li.song
    position: relative
    padding: 18px 22px
    border-left: 4px solid $green
    border-top: 1px solid #16181c 
    .artist
      font-weight: 300
      color: $text-gray
    .preview
      font-size: 12px
      float: left
      color: $blue
      cursor: pointer
    .bottom
      height: 17px
    .dj-container
      font-size: 12px
      float: left
      color: $text-gray
      .dj
        color: $yellow
      &:before
        margin-left: 8px
        margin-right: 7px
        content: "//"
        color: $text-gray
    .hover-controls
      position: absolute
      right: 32px
      top: 28px
      display: none
      .playlist-dropdown
        display: none
      .circle
        border: 2px solid $text-white
        cursor: pointer
        float: left
        margin-left: 18px
        box-sizing: border-box
        opacity: 0.75
        font-size: 15px
        padding-left: 9px
        padding-top: 9px
        font-family: "mashupfm-icons"
        content: attr(data-icon)
        font-style: normal
        font-weight: normal
        font-variant: normal
        text-transform: none 
        speak: none
        line-height: 1
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        transition: background-color 0.1s ease-in-out, opacity 0.1s ease-in-out 0.1s
      .circle:hover
        background-color: rgba(255,255,255, 0.10)
      .circle:active
        padding-left: 11px
        padding-top: 11px
        opacity: 0.95
        border: none
        transition: none
      .active
        padding-left: 11px
        padding-top: 10px
        opacity: 1
        border: none
        
      .grab
        padding-top: 9px
        ul
          display: none
          li.added
          li
      .grab:active, .grab.active
        background-color: $blue
        padding-top: 11px
        ul
          display: block

      .download:active, .download.active
        background-color: $yellow
        
  li.song:hover
    opacity: 1
    transition: none
    .hover-controls
      display: block

  li.song
    transition: opacity 0.1s ease-in-out
    opacity: 0.5
  ul.past
    .song
      border-left: 4px solid $yellow
  ul.future
    .song
      border-left: 4px solid $blue
  ul.current
    li.song
      opacity: 1
    
    

  #left-container
    background-color: #000
    border-radius: 4px
    width: 100%
    overflow: hidden
    position: relative
    #queue, #playlists, #users, #chat
      overflow: scroll
      padding-bottom: 48px
      box-sizing: border-box
      display: none

    #tab-bar
      background-color: $panel-gray
      height: 48px
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      #tabs
        .tab
          float: left
          padding: 12px 24px
          font-weight: 300
          border-right: 1px solid rgba(255,255,255,0.1)
          cursor: pointer
          height: 48px
          box-sizing: border-box
          &::selection
            background: none
        .tab:hover
          background-color: rgba(255,255,255,0.05)
        .tab:active
          background-color: rgba(255,255,255,0.03)
        #playlist-button
        #queue-button
        #chat-button
          display: none
        #users-button

      #queue-controls
        float: right
        #join-queue
          background-color: $green
          width: 100px
          height: 48px
          cursor: pointer
          transition: width 0.1s ease-in-out
          position: absolute
          right: 0px
          z-index: 1
        #join-queue:hover
          background-color: $green + #111
        
        #queue-info
          width: 57px
          position: absolute
          right: 0px
          transition: right 0.1s ease-in-out
          #queue-position
            font-size: 28px
            position: absolute
            top: 4px
            left: 0px
          #queue-total
            font-size: 10px
            position: absolute
            top: 23px
            left: 20px
            &:before
              margin: 0 2px
              content: "/"
      #queue-controls.active
        #join-queue
          width: 50px
          background-color: $red
        #join-queue:hover
          background-color: $red + #111
        #queue-info
          right: 50px
  #left-container.queue
    #queue
      display: block
    #queue-button
      border-bottom: 2px solid $green
  #left-container.playlists
    #playlists
      display: block
    #playlist-button
      border-bottom: 2px solid $green
  #left-container.chat
    #chat-button
      border-bottom: 2px solid $green
  #left-container.users
    #users
      display: block
    #users-button
      border-bottom: 2px solid $green
    

  #right-container
    flex-basis: 496px
    flex-shrink: 0
    padding-left: 36px
    box-sizing: border-box
    position: relative
    #chat-container
      height: 100%
      position: relative
      box-sizing: border-box
      padding-bottom: 48px + 16px
      .avatar
        position: absolute
        left: 0
      #chat
        overflow: scroll
        overflow-x: hidden
        height: 100%
        -webkit-mask-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.00,  rgba(0,0,0,1)), color-stop(0.85,  rgba(0,0,0,1)), color-stop(1.00,  rgba(0,0,0,0)))
      #chat-messages
        padding-left: 18px + $circle-size
        position: relative
        ul
          margin: 0
          padding: 0
          list-style: none
          margin-bottom: 250px
          li.message-container
            margin-bottom: 16px
            line-height: 1.4
            position: relative
            padding-bottom: 18px
            .avatar
              left: -18px - $circle-size
            .username
              color: $yellow
              display: inline
            .self
              color: $green
            .message
              display: inline
              clear: right
              .timestamp
                position: absolute
                bottom: 0
                font-size: 12px
                color: #484746
                background-color: $bg-color
            .appended
              margin-top: 4px
              display: block
      #chat-input
        z-index: 20
        padding-left: 18px + $circle-size
        box-sizing: border-box
        position: absolute
        bottom: 0px
        width: 100%
        .avatar
          top: 5px
        textarea
          background: none
          padding: 0px 18px
          height: 48px
          -webkit-appearance: none
          resize: none
          color: $text-white
          font-family: "Open Sans", sans-serif
          font-size: 16px
          padding-top: 12px
          border-radius: 4px
          float: left
          border: 1px solid #22201f
          width: 100%
          outline: none
          &::-webkit-input-placeholder 
            opacity: 0.3








#header-container
  #header
    #current-dj.avatar
    #playhead
      #song
        %span.songname
          Owner of a Funky Heart
        %span.artist
          ChipStack
        #timestamp
          3:06
      #progress-container
        #progress-bar
    #controls
      #upvote.circle
        a
      #grab.grab.circle
        b
        %ul.playlist-dropdown
          %li.added
            Slams
          %li.added
            Extra slammy slams
          %li
            Friday earbleeds
          %li
            Bruneaux
      #downvote.circle
        d
      #user-controls
        #username
          wallpind
        #log-controls
          log out
      #volume-container
        #volume-bar
          #volume-grabber
#content
  #left-container.queue
    #playlists
      %ul
        - (1..10).each do |i|
          %li.message-container
            .avatar
            .username.self
              wallpind:
            .message
              wow nthitz is such a chump-o-rama
              .timestamp
                4:20pm
          %li.message-container
            .avatar
            .username
              nthitz:
            .message
              sometimes, i eat a whole tub of bagels
              .timestamp
                4:20pm
          %li.message-container
            .avatar
            .username
              pwnies:
            .message
              seriously. It's pretty embarassing. I need more words to try multi-line
              .timestamp
                4:20pm
            .message.appended
              he's really dropped his game as of late
              .timestamp
                4:22pm
    #queue
      %ul.future
        %li.song
          .title
            Owner of a Funky Heart (wallpind sux remix)
          .artist
            ChipStack
          .bottom
            .preview
              preview
            .dj-container
              Queued by
              %span.dj
                wallpind
          .hover-controls
            %a.download.circle
              c
            .grab.circle
              b
              %ul.playlist-dropdown
                %li.added
                  Slams
                %li.added
                  Extra slammy slams
                %li
                  Friday earbleeds
                %li
                  Bruneaux
      %ul.current
        %li.song
          .title
            Owner of a Funky Heart (wallpind sux remix)
          .artist
            ChipStack
          .bottom
            .preview
              preview
            .dj-container
              Queued by
              %span.dj
                wallpind
          .hover-controls
            %a.download.circle
              c
            .grab.circle
              b
              %ul.playlist-dropdown
                %li.added
                  Slams
                %li.added
                  Extra slammy slams
                %li
                  Friday earbleeds
                %li
                  Bruneaux
      %ul.past
        - (1..10).each do |i|
          %li.song
            .title
              Owner of a Funky Heart (wallpind sux remix)
            .artist
              ChipStack
            .bottom
              .preview
                preview
              .dj-container
                queued by
                %span.dj
                  wallpind
            .hover-controls
              %a.download.circle
                c
              .grab.circle
                b
                %ul.playlist-dropdown
                  %li.added
                    Slams
                  %li.added
                    Extra slammy slams
                  %li
                    Friday earbleeds
                  %li
                    Bruneaux
    #users
      %ul
        - (1..10).each do |i|
          %li.message-container
            .avatar
            .username.self
              wallpind:
            .message
              wow nthitz is such a chump-o-rama
              .timestamp
                4:20pm
          %li.message-container
            .avatar
            .username
              nthitz:
            .message
              sometimes, i eat a whole tub of bagels
              .timestamp
                4:20pm
          %li.message-container
            .avatar
            .username
              pwnies:
            .message
              seriously. It's pretty embarassing. I need more words to try multi-line
              .timestamp
                4:20pm
            .message.appended
              he's really dropped his game as of late
              .timestamp
                4:22pm

    #tab-bar
      #tabs
        #playlist-button.tab
          Playlists
        #queue-button.tab.active
          Queue
        #chat-button.tab
          Chat
        #users-button.tab
          Users

      #queue-controls
        #join-queue
        #queue-info
          #queue-position
            2
          #queue-total
            10
        #leave-queue


  #right-container
    #chat-container
      #chat
        #chat-messages
          %ul
            - (1..10).each do |i|
              %li.message-container
                .avatar
                .username.self
                  wallpind:
                .message
                  wow nthitz is such a chump-o-rama
                  .timestamp
                    4:20pm
              %li.message-container
                .avatar
                .username
                  nthitz:
                .message
                  sometimes, i eat a whole tub of bagels
                  .timestamp
                    4:20pm
              %li.message-container
                .avatar
                .username
                  pwnies:
                .message
                  seriously. It's pretty embarassing. I need more words to try multi-line
                  .timestamp
                    4:20pm
                .message.appended
                  he's really dropped his game as of late
                  .timestamp
                    4:22pm
      #chat-input
        .avatar
        %textarea{:placeholder=>'Shitpost here'}

      



:javascript
  function $(id){return document.getElementById(id)};
  var ui = {
    init: function(){
      $('queue-controls').addEventListener('click', function(){$('queue-controls').classList.toggle('active')})
      ui.activeToggle('upvote')
      ui.activeToggle('downvote')
      ui.activeToggle('grab')
      $('queue').addEventListener('click', ui.queueDropdown)
      $('chat').scrollTop = 30000

      $('tabs').addEventListener('click', ui.tabClick)

    },
    tabClick: function(e){
      $('left-container').className = e.target.innerHTML.toLowerCase().trim()
    },
    activeToggle: function(e){
      e = typeof(e) == 'string' ? $(e) : e
      e.addEventListener('click', function(){e.classList.toggle('active')})
    },
    queueDropdown: function(e){
      if(e.target.classList.contains('grab')){
        e.target.classList.toggle('active')
      }
    }
  }
  ui.init()

